%section.row
	.span12
		%header.row
			%h1 New <%= singular_table_name %>
		.row
			= render 'form'
		%footer.row
			= link_to <%= index_helper %>_path, :class => "btn" do
				%i.icon-backward
				Back to <%= plural_table_name %> list
