%section.columns.twelve
	%header.row
		%div.notice= notice

	<% for attribute in attributes -%>
	%p
		%strong <%= attribute.human_name %>:
		= @<%= singular_table_name %>.<%= attribute.name %>
	<% end -%>
	
	%footer.admin-links.columns.four
		= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
		\|
		= link_to 'Back', <%= index_helper %>_path
