%section.row
	.span12
		%header.row
			-if notice
				.alert.alert-info.span12= notice

		<% for attribute in attributes -%>
		.row
			%strong.span3 <%= attribute.human_name %>:
			.span8= @<%= singular_table_name %>.<%= attribute.name %>
		<% end -%>
	
		%aside.btn-group
			= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn btn-mini" do
				%i.icon-pencil
				Edit
			= link_to <%= index_helper %>_path, :class => "btn btn-mini" do
				%i.icon-backward
				Back
