%section.columns.twelve
	%header.row
		-if notice
			.alert-box.notice= notice

	<% for attribute in attributes -%>
	%p
		%strong <%= attribute.human_name %>:
		= @<%= singular_table_name %>.<%= attribute.name %>
	<% end -%>
	
	%aside.admin-links.absolute.top.right
		%span.edit.radius.label= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
		%span.edit.radius.label= link_to 'Back', <%= index_helper %>_path
